
$orange-color: #ff6600;

h3 {
  margin: 8px;
  color: white;
}
h2 {
  color: white;
}
.card {
  margin: 5rem 5rem 0rem;
  background-color: none;
}

.table-button {
  height: 25px;
  width: 70px;
  background: $orange-color;
  color: white;
  border: none;
  margin: 10px 10px;
  border-radius: 3px;
  font-weight: bold;
}

.table-data {
  background-color: rgba(248, 249, 250, 0.6);
  border-collapse: collapse;
}

.table-status {
  border: none;
  text-align: left;
  background-color: rgba(248, 249, 250, 0.6);
}

.vue-title--tasks {
  float: left;
  color: white;
}


@media screen and (max-width: 769px) {
  table tr {
    display: block;
  }
  thead tr {
    display: grid;
  }
  table td {
    display: block;
  }
  thead, tbody {
    width: 50%;
  }
  .table-data {
    display: flex;
    width: 100%;
  }
  .header-item {
    display: block;
  }
  .filter-table {
    width: 100%;
  }
  .card{
    margin: 20px 20px 0px;
  }
  .col_hidden {
    display: none;
  }
  .table-filters {
    padding: 2px;
  }
}