@import '~bulma/bulma.sass';
@import '../styles/mixins';
@import '../styles/variables';

.button.is-danger {
  background-color: $orange;
}

.button.is-primary:hover{
  background-color: $orange-grey;
}

.field:not(:last-child) {
  margin-bottom: 8px;
}

@mixin custom-scroll-thin {
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $light-grey2;
    border-radius: 1.5px;
  }

  &::-webkit-scrollbar:horizontal {
    height: 3px;
  }
}

.container {
  max-width: 900px!important;
}

a.is-active {
  text-decoration: underline;
}
a {
  color: $light-purple;
  &:hover {
    color: $blue;
  }
}

textarea {
  width: 80%;
  resize: vertical;
  min-height: 100px;
}

a {
  text-decoration: none;
}

.header {
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $size-7;
    padding-left: 0px;
    padding-right: 0px;
  }

  .logo {
    width: 4.5rem;
    height: 4.5rem;
    background: center /cover url('../assets/logo.png') no-repeat;
  }

  .main-nav {
    display: flex;
    align-items: center;

    a {
      margin-left: $size-6;
    }
  }

  .auth-controls {
    .button + .button {
      margin-left: 12px;
    }
  }
}

.title.is-2{
  color: $white;
  font-size: 30px;
  text-align: left;
}

.content {
  padding: $size-7;
}


.form {
  width: 300px;
  margin: 100px auto;
  background-color: $light-purple;
  color: $white;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-top: 80px;
}

.title.is-3 {
  color: $white;
  font-size: 24px;
  margin-bottom: 15px;
}

.table-container {
  background-color: $white;
  overflow: auto;
  padding: 10px;
  border-radius: 3px;
  @include custom-scroll-thin;
}
.label:not(:last-child) {
  color: $white;
  font-weight: normal;
  text-align: left;
}

.spinner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .spinner {
    width: 36px;
    height: 36px;
    border: 3px solid rgba(#00d1b2, .25);
    border-top-color: $blue;
    border-radius: 50%;
    animation: spinner .8s infinite ease-out;
  }
}
@keyframes spinner {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.content table thead th {
  color: $purple;
}

.content table td {
  color: $light-purple;
  font-size: 14px;
}

