
$orange-color: #ff6600;

h3 {
  margin: 8px;
}
.card {
  margin: 5rem 5rem 0rem;
  background-color: none;
}

.table-button {
  height: 25px;
  width: 70px;
  background: $orange-color;
  color: white;
  border: none;
  margin: 10px 10px;
  border-radius: 3px;
  font-weight: bold;
}

.table-data {
  background-color: rgba(248, 249, 250, 0.6);
  border-collapse: collapse;
}

.table-status {
  border: none;
  text-align: left;
  background-color: rgba(248, 249, 250, 0.6);
}

.vue-title--tasks {
  float: left;
  color: $orange-color;
}