
$white: #ffffff;
$orange: #ff6600;
$orange-grey: #b34700;
$light-purple: #6b4fbb;
$purple: #4b3589;
$middle-purple:#48367d;
$dark-purple:#241842;
$light-grey: #cbcfd3;
$grey: #333333;
$middle-grey: #2c3e50;
$blue: #00d1b2;
$dark-blue:  #009faf;
$light-grey2: #ccc;
$bright-purple: #800080;
$aquamarine: #0000FF;
